<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
  <link href="../dist/output.css" rel="stylesheet" />
  <link rel="stylesheet" href="../src/css/search.css">
</head>
<body class="bg-primary">
<main class="min-h-screen max-w-4xl px-4 w-full py-4 overflow-hidden">
  <!-- ФОН -->
  <div class="absolute inset-0 overflow-hidden pointer-events-none -z-50">
    <img src="../src/img/960px-Vinyl_record.svg.webp" alt="" 
      class="absolute vinyl-back w-150 h-auto aspect-square mix-blend-darken opacity-20 left-1/2 top-3 -translate-x-1/2 md:left-200 md:-top-15">
  </div>
  <div class="absolute inset-0 -z-40 backdrop-blur-sm bg-primary/30"></div>

  <!-- ОСНОВНОЙ КЛАСС -->
  <section class="flex flex-col gap-5 items-center">
    <!-- ГЕРОЙ -->
    <div>
      <h1 class="z-0 py-5 pt-10 font-header text-5xl text-white text-[clamp(2rem,5vw,3rem)] drop-shadow-[5px_5px_10px_rgba(0,0,0,0.3)]">
      Твой звонок,
      <span class="relative z-0 mx-2 inline-block before:absolute before:right-0 before:bottom-[-28%] before:left-[-2.5%] before:-z-10 before:h-[120%] before:w-[105%] before:rounded-2xl before:bg-linear-to-r before:from-blue-400 before:to-cyan-400">твой выбор</span>
      !
      </h1>
      <p class="text-white/50 text-sm max-w-125">Выбери один из четырёх треков — победитель голосования зазвучит на переменах. Музыка играет дважды в неделю: во вторник и четверг.</p>
    </div>
    
    <!-- МЕЙН -->
    <div class="flex flex-col gap-6 w-full mt-6 max-w-4xl mx-auto">
      <div class="relative h-max w-full">
        <!-- поисковая строка -->
        <div class="relative z-20 flex h-11 rounded-xl border-2 border-white/10 bg-secondary">
          <i class="bi bi-search mx-4 self-center text-xl text-black/80"></i>
          <input id="search-box" class="h-full w-full text-lg text-black/80" type="text" placeholder="Поиск песни" />
        </div>
        <!-- результаты -->
        <ul class="search-results absolute z-10 -mt-3 w-full list-none rounded-b-xl bg-black/30 pt-3 backdrop-blur-lg transition-all duration-100"></ul>
      </div>
      <!-- ГОЛОСОВАНИЕ -->
      <div class="w-full h-fit bg-secondary border-2 border-white/10 rounded-xl py-3 px-5">
        <div class="text-white pb-3">
          <p class="relative mb-2 text-blue-400 font-mono font-semibold flex items-center justify-between">
            Голосование за треки
            <!-- часики -->
            <svg id="dec-clock" class="w-10 h-10" viewBox="0 0 100 100" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round">
              <circle cx="50" cy="50" r="30" stroke="white" stroke-width="7"/>
              <line x1="50" y1="50" x2="50" y2="30" stroke="white" stroke-width="7" stroke-linecap="round"/>
            </svg>
          </p>
          Выбираем музыку на <span class="text-blue-400 font-bold">понедельник, 10:30</span>
        </div>
        <ul id="poll" class="space-y-2">
          <!-- 1. DNA. -->
          <li class="poll-item px-4 py-2 flex border border-white/10 rounded-xl hover:bg-white/5 cursor-pointer transition-all duration-150">
            <div class="flex h-20 min-w-0 items-center gap-x-3">
              <div class="h-16 w-16 shrink-0 rounded-md bg-linear-to-br from-red-500 to-red-700"></div>
              <div class="flex-1 min-w-0">
                <!-- Название и артист -->
                <div class="title max-h-full flex items-baseline gap-x-2 flex-wrap">
                  <span class="text-lg font-semibold text-white truncate">длинное название песнииииииииииииииииииииииии</span>
                  
                  <div class="h-2 w-full flex items-center gap-1 flex-wrap">
                    <span class="inline-block max-w-[70%] truncate text-sm text-white/60 sm:max-w-[40%]">
                        длинный исполнитеееееееееееееееееееель
                    </span>
                    <span class="hidden text-white/30 sm:inline"> • </span>
                    <span class="hidden max-w-[40%] truncate text-sm text-white/60 sm:inline-block">
                        альбооооооооооомммммммммммм
                    </span>
                    <span class="text-white/30"> • </span>
                    <span class="text-sm text-white/60 whitespace-nowrap">3:06</span>
                  </div>    
                </div>
                
                <!-- Прогресс -->
                <div class="progress-bar mt-4">
                  <div class="flex items-center justify-between text-sm">
                    <span class="text-amber-400/90 font-medium">10% <span class="text-white">•</span> 1 Голос</span>
                    <span class="text-gray-400">#2</span>
                  </div>
                  <div class="w-full h-1 rounded-full bg-black/10 overflow-hidden mt-0.5">
                    <div class="h-full rounded-full bg-linear-to-r from-amber-400 to-amber-500/70" style="width: 10%"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="poll-item px-4 py-2 flex border border-white/10 rounded-xl hover:bg-white/5 cursor-pointer transition-all duration-150">
            <div class="flex h-20 min-w-0 items-center gap-x-3">
              <div class="h-16 w-16 shrink-0 rounded-md bg-linear-to-br from-green-300 to-green-700"></div>
              <div class="flex-1 min-w-0">
                <!-- Название и артист -->
                <div class="title max-h-full flex items-baseline gap-x-2 flex-wrap">
                  <span class="text-lg font-semibold text-white truncate">длинное название песнииииииииииииииииииииииии</span>
                  
                  <div class="h-2 w-full flex items-center gap-1 flex-wrap">
                    <span class="inline-block max-w-[70%] truncate text-sm text-white/60 sm:max-w-[40%]">
                        длинный исполнитеееееееееееееееееееель
                    </span>
                    <span class="hidden text-white/30 sm:inline"> • </span>
                    <span class="hidden max-w-[40%] truncate text-sm text-white/60 sm:inline-block">
                        альбооооооооооомммммммммммм
                    </span>
                    <span class="text-white/30"> • </span>
                    <span class="text-sm text-white/60 whitespace-nowrap">3:06</span>
                  </div>    
                </div>
                
                <!-- Прогресс -->
                <div class="progress-bar mt-4">
                  <div class="flex items-center justify-between text-sm">
                    <span class="text-amber-400/90 font-medium">90% <span class="text-white">•</span> 9 Голосов</span>
                    <span class="text-yellow-500">#1</span>
                  </div>
                  <div class="w-full h-1 rounded-full bg-black/10 overflow-hidden mt-0.5">
                    <div class="h-full w-[90%] rounded-full bg-linear-to-r from-amber-400 to-amber-500/70"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <p class="text-white mt-2">Всего голосов: <span class="text-blue-400">10</span></p>
      </div>
    </div>
    <h2 class="w-full text-left text-3xl text-white font-header">Лента новостей</h2>
    <!-- НОВОСТИ -->
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-4 auto-rows-fr">
      <li class="flex flex-col w-full h-full bg-secondary rounded-lg">
        <div class="flex items-center justify-center bg-linear-to-br from-amber-600 to-red-400 text-5xl w-full h-3/5 rounded-t-lg border-2 border-white/20"><span class="drop-shadow-[0_0_20px_black]">🎶</span></div>
        <div class="flex flex-col flex-1 px-2 py-2 h-full">
          <p class="w-full truncate text-white font-intern font-semibold">Звонок теперь на сайте!</p>
          <p class="w-full text-white/80 text-sm self-start truncate">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, cupiditate?</p>
          <p class="w-full truncate mt-auto text-white/50 text-xs">Администрация <span class="text-white/20">•</span> 12 часов назад</p>
        </div>
      </li>

      <li class="flex flex-col w-full h-full bg-secondary rounded-lg p-4 gap-3 border border-white/5 hover:border-white/10 transition-all duration-300">
        <!-- Заголовок -->
        <p class="text-white font-intern font-semibold text-sm sm:text-base tracking-wide">
          Как вам удобней?
        </p>
        
        <!-- Список опций -->
        <ul class="flex flex-col flex-1 gap-1.5">
          <li class="flex items-center px-3 py-2 w-full h-1/3 border-2 border-white/10 rounded-lg text-white/80 text-sm sm:text-base hover:border-blue-400/50 hover:bg-white/5 hover:text-white transition-all duration-200 cursor-pointer group">
            <span class="w-2 h-2 rounded-full bg-blue-400/60 mr-3 group-hover:bg-blue-400 group-hover:shadow-glow transition-all"></span>
            В телеграм
          </li>
          <li class="flex items-center px-3 py-2 w-full h-1/3 border-2 border-white/10 rounded-lg text-white/80 text-sm sm:text-base hover:border-blue-400/50 hover:bg-white/5 hover:text-white transition-all duration-200 cursor-pointer group">
            <span class="w-2 h-2 rounded-full bg-blue-400/60 mr-3 group-hover:bg-blue-400 group-hover:shadow-glow transition-all"></span>
            В вк
          </li>
          <li class="flex items-center px-3 py-2 w-full h-1/3 border-2 border-white/10 rounded-lg text-white/80 text-sm sm:text-base hover:border-blue-400/50 hover:bg-white/5 hover:text-white transition-all duration-200 cursor-pointer group">
            <span class="w-2 h-2 rounded-full bg-blue-400/60 mr-3 group-hover:bg-blue-400 group-hover:shadow-glow transition-all"></span>
            На сайте
          </li>
          <li class="flex items-center px-3 py-2 w-full h-1/3 border-2 border-white/10 rounded-lg text-white/80 text-sm sm:text-base hover:border-blue-400/50 hover:bg-white/5 hover:text-white transition-all duration-200 cursor-pointer group">
            <span class="w-2 h-2 rounded-full bg-blue-400/60 mr-3 group-hover:bg-blue-400 group-hover:shadow-glow transition-all"></span>
            На сайте
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <script src="../src/js/search.js"></script>
</main>
</body>
