/* Стили для поля поиска */
.search-input {
    border: 1px solid #ccc;
    padding: 8px;
    transition: all 0.5s ease;
}

/* Стиль ошибки для поля ввода */
.search-form input.empty-textbox {
    border: 2px solid red;
    background-color: #ffeeee;
    transform: scale(1.02);
    transform-origin: center;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}


.song-info .song {
    height: 100px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    background: #2b2b2b;
}

.song-info .song::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--fill-width, 0%);
    background-color: #017eac;
    z-index: 0; /* Под контентом, но над фоном */
    border-radius: 10px;
    transition: width 0.1s ease;
    pointer-events: none;
}

.song-info .song > * {
    position: relative;
    z-index: 1;
}

.song-info .song.user-nomination {
    border-color: rgb(2, 130, 111);
}

.song-info .song.voted {
    background-color: #4d4d4d;
}

.song-info .song.voted::before {
    background: linear-gradient(to right, #51b0f9, #017eac);
    opacity: 1;
}

.song-info .song .artwork {
    width: 100%;
    height: 100%;
    display: flex; /* или grid */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.song-info .song .artwork .cover {
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: block;
}