{% extends 'browser/layout.html' %}

{% block title %}Индекс{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главное</h1>
        <form class="search-form" method="GET">
            <input type="text" name="q" placeholder="Поиск трека" class="search-input">
            <button type="submit">Поиск</button>
        </form>
        {% if songs %}
        <br>
        <h2>Голосование</h2>
        <ul class="song-info">
            {% for song in songs %}
            <li class="{{ song.song_class }}" data-song-id="{{ song.id }}">
                <div class="artwork">
                    <img class="cover" src="{{ song.cover }}">
                </div>
                <span class="title">{{ song.title }}</span>
                <span class="author">{{ song.author }}</span>
                <span class="album">{{ song.album }}</span>
            </li>
            {% empty %}
                <li>В этом опросе нет песен</li>
            {% endfor %}
        </ul>
        {% elif last_winner %}
        <p id="last-winner-title">Последний трек</p>
        <div id="last-winner-container" class="btn btn-warning">
            <div id="last-winner-artwork-container">
                <img src="{{ last_winner.cover }}" alt="{{ last_winner.album }}">
            </div>
            <div id="last-winner-info">
                <p id="last-winner-name">{{ last_winner.title }}</p>
                <p id="last-winner-author">{{ last_winner.author }}</p>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="/static/browser/js/index.js"></script>
    
{% endblock %}
